<h1>Artykuły</h1>
<p>
<%= link_to 'New Article', new_article_path, class: "btn btn-primary"%>
</p>
<%= form_tag articles_path, method: :get do %>
  <div class="input-group">
		<span class="input-group-btn">
			<%= link_to "Clear", articles_path,  class: "btn btn-default" %>
		</span>
    <%= text_field_tag :q, "",value: params[:q], class: "form-control" %>
    <span class="input-group-btn">
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </span>
  </div>
<% end %>
<%= will_paginate @articles, renderer: BootstrapPagination::Rails %>

<table class= "table table-hover">
	<tr>
		<th>ID</th>
		<th>Created at</th>
		<th>Title</th>
		<th>Author</th>
		<th colspan='2'></th>
		</tr>
	<% @articles.each do |article| %>
	<tr>
		<td><%= article.id %></td>
		<td><%= article.created_at.to_date %></td>
		<td><%= article.title %></td>
		<td><%= article.user.email %></td>
		<td><%= link_to 'Show', article_path(article), class: "btn btn-warning" %>
		<%= render 'actions_permitions', model: article %>
	</tr>
	<% end %>
</table>
