
<%= link_to 'Edit', edit_article_path, class: "btn btn-warning" %>
<%= link_to 'Back', articles_path, class: "btn btn-primary" %>
<p>
	<strong><%= @article.title %></strong>
</p>
<p>
	<strong>Tags</strong>
	<% @article.tag.each do |tag| %>
		<ul>
			<%= tag %>
		</ul>
	<% end %>
</p>

<p>
	<strong>Text:</strong>
	<%= @article.text %>
</p>
<%= @article.user.email%>
<h3>Comments</h3>
<%= render 'comments/form' %>

<%= render @article.comments.order(created_at: :desc) %>
