<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <div class="jumbotron">
      <% if user_signed_in? %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
        <%= current_user.email %>
      <% end %>
      <% flash.each do |type, message| %>
      <div class='alert alert-warning' >
        <%= message %>
      </div>
      <%end %>

    <%= yield %>
  </div>
  </body>
</html>
